﻿@using System.Web.Optimization;
@using ICSI.DAL.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ICSI Admin Panel</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
        .navbar-collapse.collapse {
            display: block !important;
        }

        .navbar-nav > li, .navbar-nav {
            float: left !important;
        }

            .navbar-nav.navbar-right:last-child {
                margin-right: -15px !important;
            }

        .navbar-right {
            float: right !important;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ICSI Admin Panel", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="mainNav">
                @{
                    if (Session["CurrentUser"] != null)
                    {
                        var usr = (CurrentUserDetail)Session["CurrentUser"];
                        <input type="hidden" id="hdn-usr-roleindepartment" value='@usr.RoleMaster.RoleInDepartment' />
                        <ul class="nav navbar-nav navbar-right top-links hidden-xs">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <span>Welcome @usr.FirstName <br /> @usr.RoleMaster.RoleName</span>
                                    </li>

                                    <li>@Html.ActionLink("Change Password", "ChangePassword", new { @Controller = "Account", @Area = "" })</li>
                                    <li style="display:none"><a href="#">Settings</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/Account/Logout/">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                    else
                    {
                        Response.Redirect("~/Account/Login");
                    }
                }

                <div class="container-fluid nav-wrap">
                    @Html.MvcSiteMap().Menu("_PartialSiteMapMenu")
                </div>
                @*<ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
