﻿@model ICSI.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Blank.cshtml";
}

<style>
    #tblUserProfile {
        display: none !important;
    }

    #loginPad {
        padding-top: 60px;
    }

    .red {
        color: red;
    }

    .form-control {
        display: inline;
        width: 100%;
    }

    #tblLogin h1 {
        display: none;
    }

    #btnSignin {
        background-color: #00A182;
        color: white;
    }
    /*#UserNameId{
        margin:0;
    }*/
    .login-page {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
    }

    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

        .form input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
            height: auto;
            background-color: #eee;
            border: 1px solid #ccc;
        }

        .form button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #00A182;
            width: 100%;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }

            .form button:hover, .form button:active, .form button:focus {
                background: #43A047;
            }

        .form .message {
            margin: 15px 0 0;
            color: #b3b3b3;
            font-size: 12px;
        }

            .form .message a {
                color: #00A182;
                text-decoration: none;
            }

        .form .register-form {
            display: none;
        }

    .container {
        position: relative;
        z-index: 1;
        max-width: 300px;
        margin: 0 auto;
    }

        .container:before, .container:after {
            content: "";
            display: block;
            clear: both;
        }

        .container .info {
            margin: 50px auto;
            text-align: center;
        }

            .container .info h1 {
                margin: 0 0 15px;
                padding: 0;
                font-size: 36px;
                font-weight: 300;
                color: #1a1a1a;
            }

            .container .info span {
                color: #4d4d4d;
                font-size: 12px;
            }

                .container .info span a {
                    color: #000000;
                    text-decoration: none;
                }

                .container .info span .fa {
                    color: #EF3B3A;
                }

    body {
        background: #fff; /* fallback for old browsers */
        background: -webkit-linear-gradient(right, #00A182, #00A182);
        background: -moz-linear-gradient(right, #00A182, #00A182);
        background: -o-linear-gradient(right, #00A182, #00A182);
        background: linear-gradient(to left, #00A182, #00A182);
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px white inset !important;
    }
    /*.message a{
        font-family: webfontregular;
    }*/
</style>


<div class="login-page" id="loginPad">
    <div class="row">
        <div class="col-lg-12 text-center" style="margin-bottom:5%">
            <img src="~/Content/Images/logo-noida-small.png" />
        </div>
    </div>
    <div class="form">

        <div class="login-form">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", id = "loginForm" }))
            {
                @Html.AntiForgeryToken()
                <div id="dvLogin">
                    <div class="row" style="height:20px">
                        <div class="col-sm-10 col-sm-offset-1">
                            <label id="errormessage">@Html.ValidationMessageFor(m => m.ErrorMessage, "", new { @class = "red" })</label>
                        </div>
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", Id = "Emailid", maxlength = "100" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "red" })
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        @Html.TextAreaFor(m => m.Password, new { @class = "form-control", placeholder = "Password", Id = "PasswordId", maxlength = "50", minlength = "8" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "red" })
                    </div>

                    <button type="submit" id="btnSignin">Login</button>
                    <p class="message"><a href="#" data-toggle="modal" data-target="#PasswordModal">Forgot Your Password?</a></p>
                    <p class="message">If you don't have Login, please contact Administrator to login.</p>
                    <p class="message"><a href="/Online/Application/SchemeInformation" target="_blank">Online Register form here</a></p>

                </div>
              
            }
        </div>
    </div>
</div>

<script>
    $("#btnSignin").click(function () {
        $('#loginForm').submit();
    });

</script>
